<a href="https://colab.research.google.com/github/rangelcorreiavictr/modulo4indivdual1/blob/main/Projeto_individual_mod3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Relatório Manual 
semanais com ganhos e despesas

|Dia|limpeza| Comida|Transporte|Outros|Ganhos|
|---|---|---|---|---|---|
|Segunda|100 |221.60 |150 |0 | 2200|
|Terça Oliveira|0 |375.31 |100 | 0|2420.50 |
|Quarta|100 |412.00 |125 |2310 |3391 |
|Quinta|0 |495.20 |300 |500 | 5322|
|Sexta|100 |411.53 |275 |0 | 4898.50|
|Sábado|100 |245.00 |525 |0 | 4200|
|Domingo |0 |164.00 |75 |820 |3893 |

#**Criando a tabela com os códigos**

In [3]:
import pandas as pd 
import numpy as np 

#Foi utilizado uma variável com formato de dicionário para reaolacar as informações da empresa. 

information = {'Dias': ['Segunda','Terça', 'Quarta', 'Quinta', 'Sexta','Sábado','Domingo'],
         'Limpeza':[100,0,100,0,100,100,0],
         'Comida':[221.60,375.31,412.00,495.20,411.53,245.00,164.00],
         'Transporte':[150,100,125,300,275,525,75],
         'Outros':[0,0,2310,500,0,0,820]}

#Foi feito um data frame para fazer uma tabela de informações com linhas e colunas. 

date = pd.DataFrame(information)

date

      Dias  Limpeza  Comida  Transporte  Outros
0  Segunda      100  221.60         150       0
1    Terça        0  375.31         100       0
2   Quarta      100  412.00         125    2310
3   Quinta        0  495.20         300     500
4    Sexta      100  411.53         275       0
5   Sábado      100  245.00         525       0
6  Domingo        0  164.00          75     820

#incluir ganhos

In [4]:

#Foi colocado no primeiro momento a informações 'Ganhos' para criar uma nova coluna e depois do igual 
# as informações que deveriam ser colocadas dentro dela com o parâmetro de 7 informações.  

date['Ganhos'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]
date

      Dias  Limpeza  Comida  Transporte  Outros  Ganhos
0  Segunda      100  221.60         150       0  2200.0
1    Terça        0  375.31         100       0  2420.5
2   Quarta      100  412.00         125    2310  3391.0
3   Quinta        0  495.20         300     500  5322.0
4    Sexta      100  411.53         275       0  4898.5
5   Sábado      100  245.00         525       0  4200.0
6  Domingo        0  164.00          75     820  3893.0

#1.Dimuinuir 7%

In [5]:
#Criei uma variável "Calculo" para guardar a informação do calculo que iria ser utilizado dos 7%. 
#Depois coloquei a informação "date" para direcionar de qual dataframe(tabela) eu queria pegar a informação e abri colchetes 
#e coloquei ['Imposto'] para criar uma nova coluna.  

calculo = 7/100

date['Imposto'] = date['Ganhos'] * calculo

#Neste segundo momento eu diminuo os impostos(7%) da abela ganhos e faço uma nova tabela ['ValAtual']. 

date['ValAtual'] = date['Ganhos'] - date['Imposto']

date

      Dias  Limpeza  Comida  Transporte  Outros  Ganhos  Imposto  ValAtual
0  Segunda      100  221.60         150       0  2200.0  154.000  2046.000
1    Terça        0  375.31         100       0  2420.5  169.435  2251.065
2   Quarta      100  412.00         125    2310  3391.0  237.370  3153.630
3   Quinta        0  495.20         300     500  5322.0  372.540  4949.460
4    Sexta      100  411.53         275       0  4898.5  342.895  4555.605
5   Sábado      100  245.00         525       0  4200.0  294.000  3906.000
6  Domingo        0  164.00          75     820  3893.0  272.510  3620.490

#2.soma dos ganhos

In [11]:
#Utlizo date para informar qual tebela quero utilizar, depois informo ['Ganhos'] para qual coluna vou usar e uso a função "sum"
#para somar e () para a leitura da tabela correr, "colocar para para agir" a função sum. 
date['Ganhos'].sum()

26325.0

#3.calculando a média

In [19]:
#Utilizo a função mean para conserguir tirar a média. 
date['Ganhos'].mean()

3760.714285714286

#4.A soma total das despesas por categoria

In [8]:
#Eu seperei as categorias e fiz um print para a resposta com a utilização sum() para somar sair no terminal de forma
#mais inteligível a que cada respota se refere. 

print('A despesa de Limpeza é:', date['Limpeza'].sum()) 
print('A despesa de Comida é:', date['Comida'].sum())
print('A despesa de Transporte é:', date['Transporte'].sum())
print('A despesa de outros é:', date['Outros'].sum())

A despesa de Limpeza é: 400
A despesa de Comida é: 2324.64
A despesa de Transporte é: 1550
A despesa de outros é: 3630

#5.A média semanal de todas as despesas;

In [9]:
#Criei quatro variáveis para guardar as informações de cada categoria e no fz a divisão por por 4 que são a quantidade das categorias
#para conseguir ter a média semanal. 

lim = date['Limpeza'].sum()
com = date['Comida'].sum()
trans = date['Transporte'].sum()
out = date['Outros'].sum()

media = lim+com+trans+out/4

print('A média semanal de todas as despesas é:',media)

A média semanal de todas as despesas é: 5182.139999999999

# 6.O lucro diário para informar qual dia foi mais lucrativo e o lucro total da semana;

In [20]:
date[0].sum()

KeyError: ignored